<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <style>
        body {
          background-image: url("http://rise-vision.github.io/content-restaurant-promotion/images/background-2.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
        </style>
</head>
<body>
    <center>
        <font color="black">
        
        
    <h1> My Recipe Diary </h1>
</font>
    <hr>
    <br>
    <form action="#" 
    th:action="@{/showResults}" 
    th:object="Recipe" 
    method="post">
    </form>

     What are you craving for? <input th:field="*{q}"> 
     What is your diet plan? <input th:field="*{diet}">
     what is the time of day? <input th:field="*{mealType}">
    
     // make dropdown list
     <input type="submit" value="Select">
    </form>

<br>
<br>
</center>
<a href="localhost:8080/showDiary">My Diary</a>

</body>
</html>